---
import { emojiMap, type EmojiName } from '../data/emojis';
import { sizeClasses, type Size } from '../config/ui';

interface Props {
  name: EmojiName;
  size?: Size;
}

const { name, size = 'md' } = Astro.props;
---

<span class={sizeClasses[size]}>{emojiMap[name]}</span> 